.nav {
  margin: auto 0;
}

.right-align {
  left: auto !important;
}

meter {
  width: 100%;
  height: 0.5rem;
}

.checkgrid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  row-gap: 0.5rem;
  column-gap: 1rem;
  align-items: center;
}

.checkgrid input {
  margin-top: 0;
}

.right-align {
  justify-self: end;
}

.card {
  width: fit-content;
  text-align: center;
  margin: 0;
}

.card header {
  padding: 1rem;
  margin-bottom: 1rem;
}

.card footer {
  padding: 1rem;
  margin-top: 1rem;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  column-gap: 1em;
  row-gap: 2em;
}

.big {
  font-size: x-large;
}

.column {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.row {
  display: flex;
  justify-content: space-between;
}

.centre {
  text-align: center;
}

dt {
  font-weight: bold;
}

.result-list {
  width: 90%;
  margin: auto;
}

.centre-image {
  display: flex;
  justify-content: center;
}

.spinner {
  width: 2rem;
}

td p:last-child {
  margin-bottom: 0;
}

html[data-theme="light"] .spinner {
  filter: invert(1);
}

.flash {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
}

.wrap {
  flex-wrap: wrap;
}

.anchor {
  color: var(--h3-color) !important;
}

.prof {
  box-shadow: 0 0 1em 2px var(--primary);
}
