<script>
  import character from "./character.js";
  import { abilities, capitalise, isNumber } from "./global.js";
  import race from "./race.js";

  import PlusUndo from "./PlusUndo.svelte";
  import NumberInput from "./NumberInput.svelte";

  export let characters, charIndex;

  const min_base = 3,
    max_base = 18;

  $: illegal_base_scores = () => {
    for (const ability of abilities) {
      if (
        !(ability in $characters[charIndex].abilities.bases) ||
        $characters[charIndex].abilities.bases[ability] < min_base ||
        $characters[charIndex].abilities.bases[ability] > max_base
      ) {
        return true;
      }
    }
    return false;
  };

  function apply_ability_increase(ability) {
    $characters[charIndex].race.ability_increases[ability] = 1;
    $characters[charIndex].race.other_ability_increases -= 1;
  }

  function undo_ability_increase(ability) {
    $characters[charIndex].race.ability_increases[ability] = 0;
    $characters[charIndex].race.other_ability_increases += 1;
  }
</script>

<div class="wrapper">
  <table>
    <thead>
      <tr>
        <th>Ability</th>
        {#if !character.done_abilities($characters[charIndex])}
          <th>Base</th>
          <th>Race</th>
          {#if character.has_subraces($characters[charIndex])}
            <th>Subrace</th>
          {/if}
        {/if}
        {#if $characters[charIndex].abilities.available_improvements}
          <th>Improvement</th>
        {/if}
        <th>Score</th>
        <th>Modifier</th>
        <th>Proficient</th>
      </tr>
    </thead>

    <tbody>
      {#each abilities as ability}
        <tr>
          <td class="centre">
            <img
              src="img/{ability}.webp"
              alt={capitalise(ability)}
              class="icon"
            />
          </td>

          {#if !character.done_abilities($characters[charIndex])}
            <td>
              {#if $characters[charIndex].done.base_scores}
                {$characters[charIndex].abilities.bases[ability]}
              {:else}
                <NumberInput
                  min={min_base}
                  max={max_base}
                  bind:value={$characters[charIndex].abilities.bases[ability]}
                  disabled={$characters[charIndex].done.base_scores}
                />
              {/if}
            </td>

            <td>
              {#if $characters[charIndex].race}
                {race.race_abilities($characters[charIndex].race, ability)}
                {#if character.has_other_ability_increases($characters[charIndex]) && !$characters[charIndex].done.race_scores && !$characters[charIndex].race.abilities[ability]}
                  <PlusUndo
                    plus={() => apply_ability_increase(ability)}
                    no_plus={race.race_abilities(
                      $characters[charIndex].race,
                      ability
                    ) || !$characters[charIndex].race.other_ability_increases}
                    undo={() => undo_ability_increase(ability)}
                    no_undo={!$characters[charIndex].race.ability_increases[
                      ability
                    ]}
                  />
                {/if}
              {:else}
                -
              {/if}
            </td>

            {#if character.has_subraces($characters[charIndex])}
              <td>
                {#if character.has_subrace($characters[charIndex])}
                  {race.subrace_abilities(
                    $characters[charIndex].race.subrace,
                    ability
                  )}
                {:else}
                  -
                {/if}
              </td>
            {/if}
          {/if}

          {#if $characters[charIndex].abilities.available_improvements}
            <td>
              {$characters[charIndex].abilities.current_improvements[ability]}
              <PlusUndo
                plus={() => {
                  $characters[charIndex].abilities.current_improvements[
                    ability
                  ] += 1;
                  $characters[charIndex].abilities.improvements[ability] += 1;
                }}
                no_plus={character.used_improvements($characters[charIndex])}
                undo={() => {
                  $characters[charIndex].abilities.current_improvements[
                    ability
                  ] -= 1;
                  $characters[charIndex].abilities.improvements[ability] -= 1;
                }}
                no_undo={!$characters[charIndex].abilities.current_improvements[
                  ability
                ]}
              />
            </td>
          {/if}

          <td>
            {character.ability_score($characters[charIndex], ability) || "-"}
          </td>

          <td>
            {#if isNumber(character.modifier($characters[charIndex], ability))}
              {character.modifier($characters[charIndex], ability)}
            {:else}
              -
            {/if}
          </td>

          <td>
            {#if $characters[charIndex].cclass && $characters[charIndex].cclass.proficiencies.saving_throws.includes(ability)}
              ✓
            {/if}
          </td>
        </tr>
      {/each}
    </tbody>

    <tfoot>
      <tr>
        <th />
        {#if !$characters[charIndex].done.base_scores}
          <th>
            <button
              on:click={() => {
                $characters[charIndex].done.base_scores = true;
                if (character.done_init($characters[charIndex])) {
                  character.init_character($characters[charIndex]);
                }
              }}
              disabled={illegal_base_scores() ||
                $characters[charIndex].done.base_scores}
            >
              ✓
            </button>
          </th>
        {/if}
        {#if character.has_other_ability_increases($characters[charIndex]) && !$characters[charIndex].done.race_scores}
          <th>
            <button
              on:click={() => {
                $characters[charIndex].done.race_scores = true;
                if (character.done_init($characters[charIndex])) {
                  character.init_character($characters[charIndex]);
                }
              }}
              disabled={$characters[charIndex].race.other_ability_increases ||
                !$characters[charIndex].done.race}
            >
              ✓
            </button>
          </th>
        {/if}
        {#if $characters[charIndex].abilities.available_improvements}
          <th>
            <button
              on:click={() => {
                character.reset_improvements($characters[charIndex]);
                $characters[charIndex] = $characters[charIndex]; // TODO is there a less severe way to do this?
              }}
              disabled={!character.used_improvements($characters[charIndex])}
            >
              ✓
            </button>
          </th>
        {/if}
        <th />
        <th />
      </tr>
    </tfoot>
  </table>
</div>

<style>
</style>
