<script>
  import PlusUndo from "./PlusUndo.svelte";
  import NumberInput from "./NumberInput.svelte";

  export let min = undefined,
    max = undefined,
    add,
    width,
    seal = false,
    disable_update = false,
    minus = false;

  let diffs = [],
    value;

  $: if (seal) {
    diffs = [];
    seal = false;
  }

  function update(n) {
    let tmp = add(n);
    if (tmp) {
      diffs = [...diffs, tmp];
    }
  }

  function undo() {
    if (diffs.length) {
      add(-diffs[diffs.length - 1]);
      diffs = [...diffs.slice(0, -1)];
    }
  }

  $: disabled =
    disable_update ||
    !value ||
    isNaN(value) ||
    (!isNaN(parseInt(min)) ? value < min : false) ||
    (!isNaN(parseInt(max)) ? value > max : false);
</script>

<span>
  <NumberInput {width} {min} {max} bind:value />
  <PlusUndo
    plus={() => update(value)}
    no_plus={disabled}
    {undo}
    no_undo={!diffs.length}
    minus={minus ? () => update(-value) : false}
  />
</span>

<style>
</style>
