<script>
  import { capitalise } from "./global.js";

  export let characters, charIndex;

  const law_chaos = ["lawful", "neutral", "chaotic"],
    good_evil = ["good", "neutral", "evil"];
</script>

<div class="row">
  Alignment:
  {#if $characters[charIndex].done.alignment}
    {capitalise($characters[charIndex].alignment.law_chaos)}
    {$characters[charIndex].alignment.good_evil}
  {:else}
    <select bind:value={$characters[charIndex].alignment.law_chaos}>
      <option value="" disabled hidden selected> Choose law/chaos </option>
      {#each law_chaos as r}
        <option value={r}>
          {capitalise(r)}
        </option>
      {/each}
    </select>
    <select bind:value={$characters[charIndex].alignment.good_evil}>
      <option value="" disabled hidden selected> Choose good/evil </option>
      {#each good_evil as r}
        <option value={r}>
          {capitalise(r)}
        </option>
      {/each}
    </select>
    <button
      on:click={() => ($characters[charIndex].done.alignment = true)}
      disabled={Object.values($characters[charIndex].alignment).includes("")}
    >
      ✓
    </button>
  {/if}
</div>

<style>
</style>
