<script>
  import Sheet from "./Sheet.svelte";

  let darkMode = localStorage.getItem("darkMode")
    ? JSON.parse(localStorage.getItem("darkMode"))
    : false;
</script>

<div class="base {darkMode ? 'dark-mode' : 'light-mode'}">
  <div class="container column">
    <h1 class="centre">
      <img src="img/draghi.webp" class="drop-cap" alt="D" />raghi
    </h1>

    <div class="row">
      <label>
        Dark mode
        <input
          type="checkbox"
          bind:checked={darkMode}
          on:change={() => localStorage.setItem("darkMode", darkMode)}
        />
      </label>
    </div>

    <Sheet />

    <footer class="row">
      <a href="https://gitlab.com/eidoom/draghi">Source</a>
    </footer>
  </div>
</div>

<style>
  .drop-cap {
    position: relative;
    bottom: -0.73rem;
    left: 0.75rem;
    height: 3rem;
  }

  .base {
    min-height: 100vh;
  }

  .container {
    padding: 1em;
  }

  .light-mode {
    background-color: hsl(270, 10%, 85%);
    color: hsl(180, 10%, 15%);
    color-scheme: light;
  }

  .dark-mode {
    background-color: hsl(270, 10%, 15%);
    color: hsl(180, 10%, 85%);
    color-scheme: dark;
  }
</style>
