<script>
  import { fly } from "svelte/transition";

  import { capitalise } from "./global.js";
  import character from "./character.js";

  import armours from "./armours.json";

  export let characters, charIndex;
</script>

<div class="row">
  <label for="armour"> Armour: </label>
  <select
    bind:value={$characters[charIndex].choose.armour}
    on:change={() =>
      ($characters[charIndex].armour = armours.armours.find(
        (attr) => attr.name == $characters[charIndex].choose.armour
      ))}
    id="armour"
  >
    <option value="" hidden selected disabled>Select armour</option>
    <option value="none">None</option>
    {#each armours.categories as weight}
      <optgroup label={capitalise(weight)}>
        {#each armours.armours.filter((attr) => attr.category == weight) as armour}
          <option value={armour.name}>{capitalise(armour.name)}</option>
        {/each}
      </optgroup>
    {/each}
  </select>
  <label for="shield"> Shield: </label>
  <input
    id="shield"
    type="checkbox"
    bind:checked={$characters[charIndex].shield}
  />
  <span>
    AC:
    {#key character.armour_class($characters[charIndex])}
      <span class="small-number" in:fly={{ y: 10 }}>
        {character.armour_class($characters[charIndex])
          ? character.armour_class($characters[charIndex])
          : "-"}
      </span>
    {/key}
  </span>
</div>

<style>
</style>
