<script>
  import cclass from "./cclass.js";
  import character from "./character.js";

  import cclasses from "./cclasses.json";

  import LabelledSelect from "./LabelledSelect.svelte";

  export let characters, charIndex;
</script>

<div class="row">
  <LabelledSelect
    name="class"
    options={cclasses.map((c) => c.name)}
    disabled={$characters[charIndex].done.cclass}
    disabled_button={$characters[charIndex].done.cclass}
    bind:value={$characters[charIndex].choose.cclass}
    final={$characters[charIndex].cclass
      ? $characters[charIndex].cclass.name
      : ""}
    on:change={() => {
      $characters[charIndex].cclass = cclass.init(
        cclasses[$characters[charIndex].choose.cclass]
      );
      $characters[charIndex].base_max_hit_points =
        $characters[charIndex].cclass.hit_die;
    }}
    on:click={() => {
      $characters[charIndex].done.cclass = true;
      character.init_spell_slots($characters[charIndex]);
      if (character.done_init($characters[charIndex])) {
        character.init_character($characters[charIndex]);
      }
    }}
  />
  <span>
    Hit die:
    <span class="small-number">
      {#if $characters[charIndex].cclass}
        {$characters[charIndex].cclass.hit_die}
      {:else}
        -
      {/if}
    </span>
  </span>
</div>

<style>
</style>
