<script>
  import { fade } from "svelte/transition";

  import character from "./character.js";

  export let characters, charIndex;

  let deletedCharacters = [],
    saved = false;

  function newCharacter() {
    $characters = [...$characters, structuredClone(character.character)];
    charIndex = $characters.length - 1;
  }
</script>

<div class="row">
  <label for="characters"> Character: </label>

  <select bind:value={charIndex} id="characters">
    {#each $characters as c, i}
      <option value={i}> {c.name !== undefined ? c.name : "Unnamed"} </option>
    {/each}
  </select>

  <span>
    <button
      on:click={() => {
        deletedCharacters = [...deletedCharacters, $characters[charIndex]];
        $characters = [
          ...$characters.slice(0, charIndex),
          ...$characters.slice(charIndex + 1),
        ];
        if ($characters.length === 0) {
          newCharacter();
        } else if (charIndex !== 0) {
          --charIndex;
        }
      }}
    >
      -
    </button>
    <button
      on:click={() => {
        $characters = [...$characters, deletedCharacters.at(-1)];
        deletedCharacters = deletedCharacters.slice(0, -1);
        charIndex = $characters.length - 1;
      }}
      disabled={!deletedCharacters.length}
    >
      ↶
    </button>
  </span>

  <button on:click={newCharacter}> + </button>

  <button
    on:click={() => {
      localStorage.setItem("characters", JSON.stringify($characters));
      saved = true;
    }}
  >
    Save all
  </button>

  {#if saved}
    <span
      in:fade={{ duration: 50 }}
      on:introend={() => (saved = false)}
      out:fade={{ duration: 500 }}
    >
      Saved
    </span>
  {/if}
</div>

<style>
</style>
