<script>
  import { fly } from "svelte/transition";

  import character from "./character.js";
  import xp from "./xp.js";

  import Addition from "./Addition.svelte";

  export let seal_xp, characters, charIndex;
</script>

<div class="row">
  <span>
    XP:
    {#key $characters[charIndex].xp.value}
      <span class="xp" in:fly={{ y: 10 }}>
        {$characters[charIndex].xp.value.toLocaleString()}
      </span>
    {/key}
  </span>

  <Addition
    min="1"
    add={(x) => {
      const old_level = xp.level($characters[charIndex].xp.value);

      $characters[charIndex].xp.value += x;
      const new_level = xp.level($characters[charIndex].xp.value);

      const diff = new_level - old_level;
      $characters[charIndex].xp.level_ups += diff;

      if (
        $characters[charIndex].cclass.features.includes(
          "Ability Score Improvement"
        )
      ) {
        const improvement_levels = [4, 8, 12, 16, 19];
        for (let level = old_level + 1; level <= new_level; level++) {
          if (improvement_levels.includes(level)) {
            $characters[charIndex].abilities.available_improvements += 2;
          }
        }
        for (let level = new_level + 1; level <= old_level; level++) {
          if (improvement_levels.includes(level)) {
            $characters[charIndex].abilities.available_improvements -= 2;
          }
        }
      }

      if (diff != 0) {
        character.init_spell_slots($characters[charIndex]);
        $characters[charIndex] = $characters[charIndex];
      }

      return x;
    }}
    width="6em"
    bind:seal={seal_xp}
    disable_update={!character.done_init($characters[charIndex])}
  />

  <progress
    max={xp.level_xps[xp.level($characters[charIndex].xp.value)]}
    value={$characters[charIndex].xp.value}
    hidden={xp.level($characters[charIndex].xp.value) == 20}
  />

  <span>
    Level:
    {#key xp.level($characters[charIndex].xp.value)}
      <span class="small-number" in:fly={{ y: 10 }}>
        {xp.level($characters[charIndex].xp.value)}
      </span>
    {/key}
  </span>

  <span>
    Proficiency bonus:
    {#key xp.proficiency_bonus($characters[charIndex].xp.value)}
      <span class="small-number" in:fly={{ y: 10 }}>
        {xp.proficiency_bonus($characters[charIndex].xp.value)}
      </span>
    {/key}
  </span>
</div>

<style>
  .xp {
    display: inline-block;
    min-width: 4em;
    text-align: center;
  }
</style>
