<script>
  import { fly } from "svelte/transition";

  import character from "./character.js";
  import { isNumber } from "./global.js";

  import Addition from "./Addition.svelte";
  import NumberInput from "./NumberInput.svelte";

  export let seal_xp, characters, charIndex;

  let hit_roll, max, illegal_level_up;

  const min = 1;

  $: (max = $characters[charIndex].cclass
    ? $characters[charIndex].cclass.hit_die
    : 0),
    (illegal_level_up = !hit_roll || hit_roll < min || hit_roll > max);

  function add(n) {
    let tmp = $characters[charIndex].hit_points + n;
    let rtn = n;

    if (tmp > character.max_hit_points($characters[charIndex])) {
      rtn =
        character.max_hit_points($characters[charIndex]) -
        $characters[charIndex].hit_points;
      $characters[charIndex].hit_points = character.max_hit_points(
        $characters[charIndex]
      );
    } else if (tmp < 0) {
      rtn = -$characters[charIndex].hit_points;
      $characters[charIndex].hit_points = 0;
    } else {
      $characters[charIndex].hit_points = tmp;
    }

    return rtn;
  }

  function update_hps() {
    $characters[charIndex].base_max_hit_points += hit_roll;
    $characters[charIndex].xp.level_ups -= 1;
    seal_xp = true;
    if (
      $characters[charIndex].hit_points >
      character.max_hit_points($characters[charIndex])
    ) {
      $characters[charIndex].hit_points = character.max_hit_points(
        $characters[charIndex]
      );
    }
  }
</script>

<div class="row">
  <span>
    HP:
    {#key $characters[charIndex].hit_points}
      <span class="small-number" in:fly={{ y: 10 }}>
        {#if character.done_init($characters[charIndex])}
          {$characters[charIndex].hit_points}
        {:else}
          -
        {/if}
      </span>
    {/key}
    {#if character.done_init($characters[charIndex])}
      <Addition {add} min="1" width="3em" minus={true} />
    {/if}
    /
    {#key character.max_hit_points($characters[charIndex])}
      <span class="small-number" in:fly={{ y: 10 }}>
        {#if isNumber(character.max_hit_points($characters[charIndex]))}
          {character.max_hit_points($characters[charIndex])}
        {:else}
          -
        {/if}
      </span>
    {/key}
    {#if $characters[charIndex].done.cclass && $characters[charIndex].xp.level_ups}
      <NumberInput {min} {max} bind:value={hit_roll} width="3em" />
      <button on:click={update_hps} disabled={illegal_level_up}> + </button>
    {/if}
  </span>

  <progress
    max={character.done_init($characters[charIndex])
      ? character.max_hit_points($characters[charIndex])
      : ""}
    value={character.done_init($characters[charIndex])
      ? $characters[charIndex].hit_points
      : ""}
  />
</div>

<style>
</style>
