<script>
  import { capitalise, titleCase, isNumber } from "./global.js";

  export let value = "",
    options,
    name,
    final,
    disabled_button = false,
    disabled = false;
</script>

<span class="row">
  <label for="select-{name}">
    {capitalise(name)}:
  </label>

  <span>
    {#if disabled}
      {final}
    {:else}
      <select bind:value on:change required id="select-{name}">
        <option value="" disabled hidden selected>
          Select {name}
        </option>
        {#each options as r, i}
          <option value={i}>
            {r}
          </option>
        {/each}
      </select>
      <button on:click disabled={!isNumber(value) || disabled_button}>
        ✓
      </button>
    {/if}
  </span>
</span>

<style>
</style>
