<script>
  export let characters, charIndex;
</script>

<div class="row">
  <label for="name">Name: </label>
  {#if $characters[charIndex].done.name}
    <span id="name">
      {$characters[charIndex].name}
    </span>
    <button
      on:click={() => {
        $characters[charIndex].done.name = false;
      }}
    >
      ↶
    </button>
  {:else}
    <span>
      <input
        type="text"
        id="name"
        bind:value={$characters[charIndex].name}
        disabled={$characters[charIndex].done.name}
      />
      <button
        on:click={() => {
          $characters[charIndex].done.name = true;
        }}
        disabled={!$characters[charIndex].name}
        >✓
      </button>
    </span>
  {/if}
</div>

<style>
</style>
