<script>
  export let min,
    max,
    disabled = false,
    value = undefined,
    width = undefined;

  $: fail = value < min || value > max;
</script>

<input
  type="number"
  {min}
  {max}
  class="small-number"
  class:fail
  style:width
  bind:value
  {disabled}
/>

<style>
  .small-number {
    width: 3em;
  }

  .fail {
    background-color: hsla(0, 100%, 50%, 0.33);
  }
</style>
