<script>
  import character from "./character.js";

  import weapons from "./weapons.json";

  export let characters, charIndex;

  $: weight_carried =
    $characters[charIndex].weapons.reduce(
      (a, w) => a + weapons.weapons.find((a) => a.name == w).weight,
      0
    ) +
    ($characters[charIndex].armour.weight
      ? $characters[charIndex].armour.weight
      : 0) +
    ($characters[charIndex].shield ? 6 : 0);

  $: capacity =
    15 * character.ability_score($characters[charIndex], "strength");
</script>

<div class="row">
  <span>
    Walking speed:
    {#if $characters[charIndex].race}
      {$characters[charIndex].race.walking_speed} ft
    {:else}
      -
    {/if}
  </span>
  <span>
    Size:
    {#if $characters[charIndex].race}
      {$characters[charIndex].race.size}
    {:else}
      -
    {/if}
  </span>
  <span>
    Carrying:
    {weight_carried} / {#if character.done_init($characters[charIndex])}{capacity}{:else}-{/if}
    lb &nbsp
    <progress
      max={character.done_init($characters[charIndex]) ? capacity : ""}
      value={weight_carried}
    />
  </span>
</div>

<style>
</style>
