<script>
  export let plus,
    no_plus,
    undo,
    no_undo,
    minus = undefined;
</script>

<button on:click={plus} disabled={no_plus}> + </button>
{#if minus}
  <button on:click={minus} disabled={no_plus}> - </button>
{/if}
<button on:click={undo} disabled={no_undo}> ↶ </button>

<style>
</style>
