<script>
  import character from "./character.js";
  import race from "./race.js";

  import races from "./races.json";

  import LabelledSelect from "./LabelledSelect.svelte";

  export let characters, charIndex;
</script>

<div class="row">
  <LabelledSelect
    name="race"
    options={races.map((r) => r.name)}
    disabled={$characters[charIndex].done.race}
    disabled_button={$characters[charIndex].done.race}
    bind:value={$characters[charIndex].choose.race}
    final={$characters[charIndex].race ? $characters[charIndex].race.name : ""}
    on:change={() => {
      if ($characters[charIndex].race) {
        $characters[charIndex].choose.subrace = "";
        if ($characters[charIndex].race.proficiencies.skills) {
          for (const skill of $characters[charIndex].race.proficiencies
            .skills) {
            $characters[charIndex].skills.proficiencies[skill] = false;
          }
        }
      }
      $characters[charIndex].race = race.init(
        races[$characters[charIndex].choose.race]
      );
      if ($characters[charIndex].race.proficiencies.skills) {
        for (const skill of $characters[charIndex].race.proficiencies.skills) {
          $characters[charIndex].skills.proficiencies[skill] = true;
        }
      }
    }}
    on:click={() => {
      $characters[charIndex].done.race = true;
      if (character.done_init($characters[charIndex])) {
        character.init_character($characters[charIndex]);
      }
    }}
  />
  {#if character.has_subraces($characters[charIndex])}
    <LabelledSelect
      name="subrace"
      options={$characters[charIndex].race.subraces.map((r) => r.name)}
      disabled={$characters[charIndex].done.subrace}
      disabled_button={$characters[charIndex].done.subrace ||
        !$characters[charIndex].done.race}
      bind:value={$characters[charIndex].choose.subrace}
      final={$characters[charIndex].race.subrace
        ? $characters[charIndex].race.subrace.name
        : ""}
      on:change={() =>
        ($characters[charIndex].race.subrace = structuredClone(
          $characters[charIndex].race.subraces[
            $characters[charIndex].choose.subrace
          ]
        ))}
      on:click={() => {
        $characters[charIndex].done.subrace = true;
        if (character.done_init($characters[charIndex])) {
          character.init_character($characters[charIndex]);
        }
      }}
    />
  {/if}
</div>

<style>
</style>
