<script>
  import { writable } from "svelte/store";

  import character from "./character.js";

  import Abilities from "./Abilities.svelte";
  import Alignment from "./Alignment.svelte";
  import Armour from "./Armour.svelte";
  import Cclass from "./Cclass.svelte";
  import Characters from "./Characters.svelte";
  import Experience from "./Experience.svelte";
  import HitPoints from "./HitPoints.svelte";
  import Name from "./Name.svelte";
  import Physical from "./Physical.svelte";
  import Race from "./Race.svelte";
  import Skills from "./Skills.svelte";
  import SpellSlots from "./SpellSlots.svelte";
  import Weapons from "./Weapons.svelte";

  let charIndex = 0,
    seal_xp = false;
  let rawCharacters = localStorage.getItem("characters")
    ? JSON.parse(localStorage.getItem("characters"))
    : [structuredClone(character.character)];
  let characters = writable(rawCharacters);
</script>

<div class="column">
  <Characters bind:characters bind:charIndex />

  <Name {characters} {charIndex} />

  <Alignment {characters} {charIndex} />

  <Race {characters} {charIndex} />

  <Cclass {characters} {charIndex} />

  <Experience bind:seal_xp {characters} {charIndex} />

  <Abilities {characters} {charIndex} />

  <Skills {characters} {charIndex} />

  <HitPoints bind:seal_xp {characters} {charIndex} />

  <Armour {characters} {charIndex} />

  <Weapons {characters} {charIndex} />

  <SpellSlots {characters} {charIndex} />

  <Physical {characters} {charIndex} />
</div>

<style>
</style>
