<script>
  import { capitalise } from "./global.js";

  import skills from "./skills.json";

  export let characters, charIndex;

  function race_skill(skill) {
    return (
      $characters[charIndex].race &&
      $characters[charIndex].race.proficiencies &&
      $characters[charIndex].race.proficiencies.skills &&
      $characters[charIndex].race.proficiencies.skills.includes(skill)
    );
  }

  $: cclass_skill = (skill) => {
    return (
      $characters[charIndex].cclass &&
      $characters[charIndex].cclass.choices &&
      $characters[charIndex].cclass.choices.proficiencies &&
      $characters[charIndex].cclass.choices.proficiencies.skills &&
      $characters[charIndex].cclass.choices.proficiencies.skills.options &&
      $characters[
        charIndex
      ].cclass.choices.proficiencies.skills.options.includes(skill)
    );
  };

  $: disabled_choice = (skill) => {
    if (race_skill(skill)) {
      return true;
    }

    if ($characters[charIndex].skills.proficiencies[skill]) {
      return false;
    }

    let count_background = 0,
      count_cclass = 0;

    for (const [k, v] of Object.entries(
      $characters[charIndex].skills.proficiencies
    )) {
      if (v && !race_skill(k)) {
        if (cclass_skill(k)) {
          count_cclass += 1;
        } else {
          count_background += 1;
        }
      }
    }

    let number_background = $characters[charIndex].skills.background_available,
      number_cclass = $characters[charIndex].cclass
        ? $characters[charIndex].cclass.choices.proficiencies.skills.number
        : 0;

    if (count_cclass > number_cclass) {
      count_background += count_cclass - number_cclass;
    }

    if (
      $characters[charIndex].cclass &&
      $characters[charIndex].cclass.choices &&
      $characters[charIndex].cclass.choices.proficiencies &&
      $characters[charIndex].cclass.choices.proficiencies.skills &&
      !$characters[charIndex].cclass.choices.proficiencies.skills.options
    ) {
      number_background += number_cclass;
    }

    if (!cclass_skill(skill)) {
      return count_background >= number_background;
    }

    return (
      count_background >= number_background && count_cclass >= number_cclass
    );
  };

  $: completed =
    $characters[charIndex].done.race &&
    $characters[charIndex].done.cclass &&
    Object.keys($characters[charIndex].skills.proficiencies).filter(
      (s) => !disabled_choice(s)
    ).length ===
      Object.entries($characters[charIndex].skills.proficiencies).filter(
        ([k, v]) => (race_skill(k) ? false : v)
      ).length;
</script>

<div class="row">
  {#each Object.entries(skills) as [ability, skills]}
    <span class="column">
      <span class="centre">
        <img src="img/{ability}.webp" alt={capitalise(ability)} class="icon" />
      </span>
      {#each skills as skill}
        <span>
          <input
            type="checkbox"
            id={skill}
            bind:checked={$characters[charIndex].skills.proficiencies[skill]}
            disabled={$characters[charIndex].done.skills ||
              disabled_choice(skill)}
          />
          <label
            for={skill}
            class:underline={!$characters[charIndex].done.skills &&
              cclass_skill(skill)}
          >
            {capitalise(skill)}
          </label>
        </span>
      {/each}
    </span>
  {/each}
  {#if !$characters[charIndex].done.skills}
    <span class="column vertical-align">
      <button
        on:click={() => ($characters[charIndex].done.skills = true)}
        disabled={!completed}
      >
        ✓
      </button>
    </span>
  {/if}
</div>

<style>
  .column {
    display: flex;
    flex-direction: column;
    row-gap: 1ex;
  }

  .vertical-align {
    justify-content: center;
  }

  .underline {
    text-decoration: underline;
  }
</style>
