<script>
  import xp from "./xp.js";
  import character from "./character.js";

  export let characters, charIndex;

  let history = [];
</script>

{#if $characters[charIndex].done.cclass && $characters[charIndex].spell_slots}
  <div>
    <div class="wrapper">
      <table>
        <tr>
          <th> Spell level </th>
          {#each $characters[charIndex].spell_slots as _, level}
            <td class="centre">{level + 1}</td>
          {/each}
        </tr>
        <tr>
          <th> Spell slots </th>
          {#each $characters[charIndex].spell_slots as slots, i}
            <td>
              {#if $characters[charIndex].cclass.spell_slots[xp.level($characters[charIndex].xp.value)][i] == 0}
                -
              {:else}
                {slots}
                <button
                  on:click={() => {
                    history = [
                      ...history,
                      structuredClone($characters[charIndex].spell_slots),
                    ];
                    slots--;
                  }}
                  disabled={slots == 0}
                >
                  -
                </button>
              {/if}
            </td>
          {/each}
        </tr>
        <tr>
          <th />
          {#each $characters[charIndex].spell_slots as slots, i}
            <td class="centre">
              {#if $characters[charIndex].cclass.spell_slots[xp.level($characters[charIndex].xp.value)][i] != 0}
                <progress
                  class="mini-bar"
                  max={$characters[charIndex].cclass.spell_slots[
                    xp.level($characters[charIndex].xp.value)
                  ][i]}
                  value={slots}
                />
              {/if}
            </td>
          {/each}
        </tr>
      </table>
    </div>
    <div class="row">
      <button
        on:click={() => {
          $characters[charIndex].spell_slots = history.pop();
        }}
        disabled={!history.length}
      >
        ↶
      </button>
      <button
        on:click={() => {
          history = [
            ...history,
            structuredClone($characters[charIndex].spell_slots),
          ];
          character.init_spell_slots($characters[charIndex]);
          $characters[charIndex] = $characters[charIndex];
        }}
      >
        Long rest
      </button>
    </div>
  </div>
{/if}

<style>
  .mini-bar {
    width: 25pt;
  }
</style>
