<script>
  import { capitalise } from "./global.js";

  import weapons from "./weapons.json";

  export let characters, charIndex;

  let choose;
</script>

<div class="row">
  Weapons:
  <select bind:value={choose} on:change={() => {}} id="weapon">
    <option value="" hidden selected disabled>Select weapon</option>
    {#each weapons.categories as category}
      <optgroup label="{capitalise(category.level)} {category.range}">
        {#each weapons.weapons.filter((attr) => attr.level == category.level && attr.range == category.range) as weapon}
          <option value={weapon.name}>{capitalise(weapon.name)}</option>
        {/each}
      </optgroup>
    {/each}
  </select>
  <button
    on:click={() =>
      ($characters[charIndex].weapons = [
        choose,
        ...$characters[charIndex].weapons,
      ])}
    disabled={!choose}
    >+
  </button>
</div>

{#if $characters[charIndex].weapons.length}
  <div class="wrapper">
    <table>
      <thead>
        <th>Active</th>
        <th>Name</th>
        <th>Damage</th>
        <th>Type</th>
        <th>Properties</th>
        <th>Drop</th>
      </thead>
      <tbody>
        {#each $characters[charIndex].weapons.map( (w) => weapons.weapons.find((a) => a.name == w) ) as weapon, i}
          <tr>
            <td>
              <input type="checkbox" />
            </td>
            <td>
              {capitalise(weapon.name)}
            </td>
            <td>
              {weapon.damage}
            </td>
            <td>
              {capitalise(weapon.type)}
            </td>
            <td>
              {#each weapon.properties as property, i}
                {capitalise(
                  property
                )}{#if i + 1 !== weapon.properties.length},{/if}&nbsp
              {/each}
            </td>
            <td>
              <button
                on:click={() =>
                  ($characters[charIndex].weapons = $characters[
                    charIndex
                  ].weapons.filter((_, j) => j !== i))}
              >
                -
              </button>
            </td>
          </tr>
        {/each}
      </tbody>
    </table>
  </div>
{/if}

<style>
</style>
