<script>
	import { onMount } from "svelte";
	export let api;

	let data;

	onMount(async () => {
		await fetch(`${api}/abilities`)
			.then(r => r.json())
			.then(d => {
				data = d;
			});
	})
</script>

{#if data}
	<table>
		<tbody>
			{#each Object.entries(data) as [ability, score]}
				<tr>
					<td>{ability}</td>
					<td>{score}</td>
				</tr>
			{/each}
		</tbody>
	</table>
{:else}
	Loading
{/if}

<style>
</style>
