<script>
	import { onMount } from "svelte";
	import Abilities from "./Abilities.svelte";
	export let api;

	let data;

	onMount(async () => {
		await fetch(`${api}/`)
			.then(r => r.json())
			.then(d => {
				data = d;
			});
	})
</script>

{#if data}
<h1>{data.title}</h1>
<Abilities {api} />
{:else}
Loading
{/if}

<style>
</style>
