{% extends "item.html.jinja2" %}
{% from "macros.html.jinja2" import list %}

{% block content %}
<h1>{{ ability.name }}</h1>

<table>
	<tr>
		<th>Abbreviation</th>
		<td>{{ ability.short }}</td>
	</tr>
</table>

<article>
	{{ ability.description }}
</article>

{% if skills %}
<section>
	<h3>Skills related to {{ ability.name }}</h3>
	{{ list(skills, 'skill') }}
</section>
{% endif %}
{% endblock %}
