{% extends "base.html.jinja2" %}
{% from "macros.html.jinja2" import choose_alignment %}

{% block crumb %}
<li>/</li>
<li>
	<a href="{{ url_for('characters') }}">Characters</a>
</li>
{% endblock %}

{% block main %}
<section>
	<h1>Add new character</h1>
	<form method="post">
		<label for="name">Name</label>
		<input type="text" name="name" id="name" aria-label="Character name" placeholder="Choose a name" required>
		{{ choose_alignment(moralities, societies) }}
		<label for="race">Race</label>
		<select name="race" id="race" required>
			<option disabled selected value="">Choose a race</option>
			{% for race in races %}
			<option value="{{ race.id }}">{{ race.name }}</option>
			{% endfor %}
		</select>
		<label for="cclass">Class</label>
		<select name="cclass" id="cclass" required>
			<option disabled selected value="">Choose a starting class</option>
			{% for cclass in cclasses %}
			<option value="{{ cclass.id }}">{{ cclass.name }}</option>
			{% endfor %}
		</select>
		<button type="submit">Confirm</button>
	</form>
</section>
{% endblock %}
