{% extends "items.html.jinja2" %}
{% from "macros.html.jinja2" import link %}

{% block content %}
<table>
	{% for moralities in alignments %}
	<tr>
		{% for entry in moralities %}
		<td class="centre">
			{{ link(entry, 'alignment') }}
		</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>
{% endblock %}
