{% extends "item.html.jinja2" %}

{% block content %}
<h1>{{ alignment.name }}</h1>

<table>
		<tr>
			<th>
				Initialism
			</th>
			<td>
				{{ alignment.short }}
			</td>
		</tr>
		<tr>
			<th>
				Society
			</th>
			<td>
				{{ alignment.society.name }}
			</td>
		</tr>
		<tr>
			<th>
				Morality
			</th>
			<td>
				{{ alignment.morality.name }}
			</td>
		</tr>
</table>

<article>
	{{ alignment.description }}
</article>
{% endblock %}
