{% extends "item.html.jinja2" %}
{% from "macros.html.jinja2" import list %}

{% block content %}

<h1>{{ category.name }} Armour</h1>

<article>
	{{ category.description }}
</article>

<section>
	<h3>{{ category.name }} Armours</h3>
	{{ list(armours, 'armour') }}
</section>
{% endblock %}
