{% extends "item.html.jinja2" %}
{% from "macros.html.jinja2" import link, format_money %}

{% block content %}
<h1>{{ armour.name }}</h1>

<section>
	<table>
		<tr>
			<td>Category</td>
			<td>
				{{ link(armour.category, 'armour_category', post=" Armour") }}
			</td>
		</tr>
		<tr>
			<td>Rarity</td>
			<td>{{ link(armour.rarity, 'rarity') }}</td>
		</tr>
		<tr>
			<td>Armour Class</td>
			<td>{{ armour.ac }}</td>
		</tr>
		<tr>
			<td>Weight</td>
			<td>{{ armour.weight }} lb</td>
		</tr>
		<tr>
			<td>Cost</td>
			<td>{{ format_money(armour.cost) }}</td>
		</tr>
	</table>
	{% if armour.stealth_disadvantage %}
	<p><em>Stealth disadvantage</em></p>
	{% endif %}
</section>

<article>
	{{ armour.description }}
</article>
{% endblock %}
