<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes" />
		<title>Draghi</title>
		<meta name="author" content="Ryan Moodie">
		<meta name="description" content="Draghi v2">
		<link rel="icon" type="image/webp" href="{{url_for('static', filename='draghi.webp') }}">
		<link rel="stylesheet" href="{{url_for('static', filename='pico.min.css') }}">
		<link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
		<script src="{{url_for('static', filename='htmx.min.js') }}"></script>
		<script src="{{url_for('static', filename='script.js') }}"></script>
		{% block scripts %}
		{% endblock %}
	</head>

	<body class="column">
		<header class="container">
			<nav class="wrap">
				<ul>
					<li>
						<a href="{{ url_for('landing_page') }}">Draghi</a>
					</li>
					{% block crumb %}
					{% endblock %}
				</ul>
				<ul>
					<li>
						<details role="list" class="nav">
							<summary aria-haspopup="listbox" role="link">
								{% if current_user.is_authenticated %}
								{{ current_user.name }}
								{% else %}
								Account
								{% endif %}
							</summary>
							<ul role="listbox" class="right-align">
								{% if current_user.is_authenticated %}
								<li>
									<a href="{{ url_for('player', id=current_user.id) }}">Profile</a>
								</li>
								<li>
									<a href="{{ url_for('player_area') }}">Manage</a>
								</li>
								<li>
									<a href="{{ url_for('logout') }}">Sign out</a>
								</li>
								{% else %}
								<li>
									<a href="{{ url_for('login') }}">Sign in</a>
								</li>
								<li>
									<a href="{{ url_for('signup') }}">Sign up</a>
								</li>
								{% endif %}
							</ul>
						</details>
					</li>
					<li>
						<details role="list" class="nav">
							<summary aria-haspopup="listbox" role="link">Listings</summary>
							<ul role="listbox" class="right-align">
								{% for endpoint, title in titles.items() %}
								<li><a href="{{ url_for(endpoint) }}">{{ title }}</a></li>
								{% endfor %}
							</ul>
						</details>
					</li>
			</nav>
		</header>
		<main class="container">
			{% with messages = get_flashed_messages() %}
			{% if messages %}
			<section>
				{% for message in messages %}
				<article class="flash">{{ message }}</article>
				{% endfor %}
			</section>
			{% endif %}
			{% endwith %}
			{% block main %}
			{% endblock %}
		</main>
		<footer class="row container">
			<a href="https://gitlab.com/eidoom/draghi/-/tree/main/ui-htmx">Source</a>
			<a href="{{ url_for('settings') }}">Settings</a>
		</footer>
	</body>

</html>
