{% extends "item.html.jinja2" %}
{% from "macros.html.jinja2" import list, link %}

{% block content %}
<h1>{{ campaign.name }}</h1>

<section>
	<table>
		<tr>
			<th>
				Founded
			</th>
			<td>
				{{ founded }}
			</td>
		</tr>
	</table>
</section>

<section>
	<h3>Game Masters</h3>
	{{ list(game_masters, 'player') }}
</section>

<section>
	<h3>Members</h3>
	<table>
		<thead>
			<tr>
				<th>Character</th>
				<th>Player</th>
			</tr>
		</thead>
		<tbody>
			{% for character in characters %}
			<tr>
				<td>
					{{ link(character, 'quick_character') }}
				</td>
				<td>
					{{ link(character.characterplayer.player, 'player') }}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</section>
{% endblock %}
