{% extends "item.html.jinja2" %}
{% from "macros.html.jinja2" import spell_list, list, link %}

{% block content %}
<h1>{{ cclass.name }}</h1>

<section>
	<table>
		<tr>
			<th>HD</td>
			<td>d{{ cclass.hit_die }}</td>
		</tr>
		{% if spellcasting_ability %}
		<tr>
			<th>Spellcasting ability</td>
			<td>{{ link(spellcasting_ability, 'ability') }}</td>
		</tr>
		{% endif %}
	</table>
</section>

<section>
	<h3>Subclasses: {{ cclass.subclass_flavour }}</h3>
	{{ list(subcclasses, 'subcclass') }}
</section>

<section>
	<h3>Class Features</h3>
	{% for feature in features %}
	<details>
		<summary>{{ feature.name }} ({{ feature.level }})</summary>
		{{ feature.description }}
	</details>
	{% endfor %}
</section>

{% if subfeatures %}
<section>
	<h3>Class Subfeatures</h3>
	{% for feature in subfeatures %}
	<details>
		<summary>{{ feature.name }}</summary>
		{{ feature.description }}
	</details>
	{% endfor %}
</section>
{% endif %}

{% if proficiencies %}
<section>
	<h3>Proficiencies</h3>
	{% if proficiencies.saves %}
	<h4>Saving Throws</h4>
	{{ list(proficiencies.saves, 'ability') }}
	{% endif %}
	{% if proficiencies.tools %}
	<h4>Tools</h4>
	{{ list(proficiencies.tools, 'tool') }}
	{% endif %}
</section>
{% endif %}

{% if spell_slots %}
<section>
	<h3>Spell Slot Table</h3>
	<table>
		<thead>
			<tr>
				<th scope="col" rowspan="2">Class Level</th>
				<th scope="col" colspan="9">Spell Slots per Spell Level</th>
			</tr>
			<tr>
				{% for spell_level in spell_levels %}
				<th scope="col">{{ spell_level.name }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for level, row in spell_slots.items() %}
			<tr>
				<td>{{ level }}</td>
				{% for spell_level in spell_levels %}
				<td>
					{% with el = row | selectattr("spell_level", "equalto", spell_level.id) | first %}
					{% if el %}
					{{ el.number }}
					{% else %}
					—
					{% endif %}
					{% endwith %}
				</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</section>
{% endif %}

{% if known_cantrips %}
<section>
	<h3>Cantrips Known</h3>
	<table>
		<thead>
			<tr>
				<th scope="col">Class Level</th>
				<th scope="col">Cantrips Known</th>
			</tr>
		</thead>
		<tbody>
			{% for cantrips in known_cantrips %}
			<tr>
				<td>{{ cantrips.cclass_level }}</td>
				<td>{{ cantrips.number }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</section>
{% endif %}

{% if known_spells %}
<section>
	<h3>Spells Known</h3>
	<table>
		<thead>
			<tr>
				<th scope="col">Class Level</th>
				<th scope="col">Spells Known</th>
			</tr>
		</thead>
		<tbody>
			{% for spells in known_spells %}
			<tr>
				<td>{{ spells.cclass_level }}</td>
				<td>{{ spells.number }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</section>
{% endif %}

{{ spell_list(spells) }}
{% endblock %}
