{% extends "items.html.jinja2" %}
{% from "macros.html.jinja2" import list %}

{% block content %}

{% if current_user.is_authenticated %}
<section>
	<a href="{{ url_for('add_character') }}">
		<button>Add character</button>
	</a>
</section>
{% endif %}

<section>
	{{ list(characters, 'quick_character') }}
</section>
{% endblock %}
