{% extends "base.html.jinja2" %}
{% from "macros.html.jinja2" import list_character_classes, hp_bar, hp_input, format_modifier, passive_table, choose_class, delete_class, condition_list, list, link, heading %}
{% from "character_macros.html.jinja2" import section_hp, section_race, section_xp, section_alignment, section_abilities, section_saves, section_skills %}

{% block crumb %}
<li>/</li>
<li>
	<a href="{{ url_for('characters') }}">Characters</a>
</li>
{% endblock %}

{% block main %}

<h1 hx-get="{{ url_for('character_name', id=character.id) }}" hx-trigger="updateCharacterName from:body">{{ character.name }}</h1>

<section>
	<a href="{{ url_for('quick_character', id=character.id) }}"><button>Quicksheet</button></a>
</section>

<section id="section-campaigns">
	{{ heading('Campaigns') }}
	{{ list(campaigns, 'campaign') }}
</section>

<section>
	{{ heading('Players') }}
	{{ list(players, 'player') }}
</section>

<section>
	{{ heading('Name') }}
	<details>
		<summary>Change name</summary>
		<form hx-put="{{ url_for('set_character_name') }}" hx-vals='{"character": "{{ character.id }}"}' hx-swap="none">
			<input type="text" name="name" id="name" required placeholder="Write a name" value="{{ character.name }}">
			<button type="submit">Confirm</button>
		</form>
	</details>
</section>

{{ section_alignment(character, societies, moralities) }}

{{ section_hp(character) }}

{{ section_xp(character, levels) }}

{{ section_race(character, all_races, subraces) }}

<section>
	{{ heading('Classes') }}
	<table>
		<thead>
			<tr>
				<th>Class</th>
				<th>Level</th>
				<th>Starting</th>
				<th>Subclass</th>
			</tr>
		</thead>
		<tbody hx-get="{{ url_for('character_classes', id=character.id) }}" hx-trigger="updateClass from:body">
			{{ list_character_classes(my_classes) }}
		</tbody>
	</table>
	<details>
		<summary>Add class</summary>
		<form hx-put="{{ url_for('add_character_class') }}" hx-vals='{"character": "{{ character.id }}"}' hx-swap="none">
			<label for="add-cclass-name">Class</label>
			<select name="cclass" id="add-cclass-name" required hx-get="{{ url_for('add_character_class_list', id=character.id) }}" hx-trigger="updateClass from:body" hx-params="none" hx-swap="innerHTML">
				{{ choose_class(available_classes) }}
			</select>
			<label for="add-cclass-level">Level</label>
			<input type="number" name="level" id="add-cclass-level" min="1" max="20" value="1" required>
			<button type="submit">Confirm</button>
		</form>
	</details>
	<details>
		<summary>Change class level</summary>
		<form hx-put="{{ url_for('edit_character_class') }}" hx-swap="none">
			<label for="mod-cclass-name">Class</label>
			<select name="ccid" id="mod-cclass-name" required hx-get="{{ url_for('delete_character_class_list', id=character.id) }}" hx-trigger="updateClass from:body" hx-params="none" hx-swap="innerHTML">
				{{ delete_class(my_classes) }}
			</select>
			<label for="mod-cclass-level">Level</label>
			<input type="number" name="level" id="mod-cclass-level" min="1" max="20" value="1" required>
			<button type="submit">Confirm</button>
		</form>
	</details>
	<details>
		<summary>Delete class</summary>
		<form hx-delete="{{ url_for('delete_character_class') }}" hx-swap="none">
			<select name="ccid" id="delete-cclass" required hx-get="{{ url_for('delete_character_class_list', id=character.id) }}" hx-trigger="updateClass from:body" hx-params="none" hx-swap="innerHTML">
				{{ delete_class(my_classes) }}
			</select>
			<button type="submit">Confirm</button>
		</form>
	</details>
</section>

<section>
	{{ heading('Conditions') }}
	<p>Current conditions</p>
	<ul hx-get="{{ url_for('condition_list', id=character.id) }}" hx-trigger="updateConditions from:body">
		{{ condition_list(my_conditions) }}
	</ul>
	<details>
		<summary>Set Conditions</summary>
		<form hx-put="{{ url_for('character_conditions', id=character.id) }}" hx-swap="none">
			<fieldset class="checkgrid">
				{% for condition in conditions %}
				<input type="checkbox" name="{{ condition.id }}" id="{{ condition.name }}"{% if condition in my_conditions %} checked{% endif %} class="right-align" />
				<label for="{{ condition.name }}">{{ condition.name }}</label>
				{% endfor %}
			</fieldset>
			<button type="submit">Confirm</button>
		</form>
	</details>
</section>

{{ section_abilities(abilities, character.id) }}

{{ section_saves(abilities, character.id) }}

<section>
	{{ heading('Senses') }}
	<h4>Passive Checks</h4>
	<table>
		<thead>
			<tr>
				<th><abbr data-tooltip="Proficiency">Prof</abbr></th>
				<th><abbr data-tooltip="Ability">Abil</abbr></th>
				<th>Skill</th>
				<th>Score</th>
			</tr>
		</thead>
		<tbody hx-get="{{ url_for('passive_table', id=character.id) }}" hx-trigger="updateAbilities from:body, updateSkills from:body, updateXP from:body">
			{{ passive_table(passive) }}
		</tbody>
	</table>
</section>

{{ section_skills(skills, character.id) }}

{% if spellcasting %}
<section>
	{{ heading('Spells') }}
	<p>(starting class only, doesn't update on updateClass, buttons don't function, classes don't add slots)</p>
	<table>
		{% if spellcasting_ability %}
		<tr>
			<th>
				Spellcasting ability
			</th>
			<td>
				{{ spellcasting_ability.name }}
			</td>
		</tr>
		{% endif %}
		<tr>
			{% if number_known_spells %}
			<th>
				Spells known
			</th>
			<td>
				{{ number_known_spells }}
			</td>
			{% else %}
			<th>
				Max spells prepared
			</th>
			<td>
				{{ max_prepared_spells }}
			</td>
			{% endif %}
		</tr>
		{% if known_cantrips %}
		<tr>
			<th>
				Cantrips known
			</th>
			<td>
				{{ known_cantrips }}
			</td>
		</tr>
		{% endif %}
	</table>
	{% if available_spells %}
	<details>
		<summary>Available spells</summary>
		<table>
			<thead>
				<tr>
					<th>Level</th>
					<th>Spell</th>
					<th>Known?</th>
				</tr>
			</thead>
			<tbody>
				{% for spell in available_spells %}
				<tr>
					<td>
						{{ spell.level }}
					</td>
					<td>
						{{ link(spell, 'spell') }}
					</td>
					<td>
						<button>Learn</button>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</details>
	{% endif %}
	<details>
		<summary>Known spells</summary>
		<table>
			<thead>
				<tr>
					<th>Level</th>
					<th>Spell</th>
					{% if not number_known_spells %}
					<th>Prepared?</th>
					{% endif %}
				</tr>
			</thead>
			<tbody>
				{% for spell in known_spells %}
				<tr>
					<td>
						{{ spell.level }}
					</td>
					<td>
						{{ link(spell, 'spell') }}
					</td>
					{% if not number_known_spells %}
					<td>
						<button>Prepare</button>
					</td>
					{% endif %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</details>
	{% if prepared_spells %}
	<details>
		<summary>Prepared spells</summary>
		<table>
			<thead>
				<tr>
					<th>Level</th>
					<th>Spell</th>
				</tr>
			</thead>
			<tbody>
				{% for spell in prepared_spells %}
				<tr>
					<td>
						{{ spell.level }}
					</td>
					<td>
						{{ link(spell, 'spell') }}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</details>
	{% endif %}
	{% if spell_slots %}
	<h5>Spell Slots</h5>
	<table>
		<thead>
			<th>
				Level
			</th>
			<th>
				Slots
			</th>
		</thead>
		<tbody>
			{% for level, slots in spell_slots.items() %}
			{% if slots %}
			<tr>
				<td>{{ level }}</td>
				<td>
					{% for slot in slots %}
					<input type="checkbox"{% if slot.used %} checked{% endif %}>
					{% endfor %}
				</td>
			</tr>
			{% endif %}
			{% endfor %}
		</tbody>
	</table>
	{% endif %}
</section>
{% endif %}

<section>
	{{ heading('Inventory') }}
	<p>Inventory weight: {{ inventory_weight }} lb</p>
	<p>...</p>
</section>

<section>
	{{ heading('Proficiencies') }}
	<p>...</p>
</section>

<section>
	{{ heading('Background') }}
	<p>...</p>
</section>

<section>
	{{ heading('Characteristics') }}
	<p>...</p>
</section>

<section>
	{{ heading('Notes') }}
	<label for="notes">Notes</label>
	<form hx-put="{{ url_for('set_notes', id=character.id) }}" hx-swap="none">
		<textarea name="notes" id="notes" placeholder="Enter your notes here" rows="12" required>
			{{- character.notes -}}
		</textarea>
		<button type="submit">Save notes</button>
	</form>
</section>

<section id="section-delete-character">
	{{ heading('Delete character') }}
	<button hx-delete="{{ url_for('delete_character', id=character.id) }}" hx-confirm="Are you sure you wish to delete character {{ character.name }}?">Delete character</button>
</section>
{% endblock %}
