{% from "macros.html.jinja2" import link, format_modifier, heading, format_boolean %}

{% macro hp_bar(character) -%}
<p>
	<meter min="0" max="{{ character.max_hp }}" value="{{ character.hp }}" low="{{ character.max_hp // 2 }}" optimum="{{ character.max_hp }}"></meter>
</p>
{%- endmacro %}

{% macro xp_bar(character, level, levels) -%}
<progress min="{{ levels[level] }}" max="{{ levels[level + 1] }}" value="{{ character.xp }}"></progress>
{%- endmacro %}

{% macro section_hp(character) -%}
<section id="section_hp">
	{{ heading('Hit Points') }}

	<table>
		<tr>
			<th>HP</td>
			<td>
				{{ character.hp }}
			</td>
		</tr>
		{% if character.tmp_hp %}
		<tr>
			<th>Tmp HP</td>
			<td>
				{{ character.tmp_hp }}
			</td>
		</tr>
		{% endif %}
		<tr>
			<th>Max HP</td>
			<td>
				{{ character.max_hp }}
			</td>
		</tr>
	</table>

	{{ hp_bar(character) }}

	<details>
		<summary>Set HP</summary>
		<form hx-put="{{ url_for('set_hp', id=character.id) }}" hx-target="#section_hp">
			<label for="hp">HP</label>
			<input type="number" name="hp" id="hp" min="0" max="{{ character.max_hp_tmp }}" value="{{ character.hp }}" required >
			<label for="tmp_hp">Temporary HP</label>
			<input type="number" name="tmp_hp" id="tmp_hp" min="0" value="{{ character.tmp_hp }}" required>
			<label for="max_hp">Maximum HP</label>
			<input type="number" name="max_hp" id="max_hp" min="0" value="{{ character.max_hp }}" required>
			<button type="submit">Confirm</button>
		</form>
	</details>
</section>
{%- endmacro %}

{% macro section_race(character, all_races, subraces) -%}
<section id="section-race">
	{{ heading('Race') }}

	<table>
		<tr>
			<th>
				Race
			</th>
			<td>
				{{ link(character.race, 'race') }}
			</td>
		</tr>
		{% if character.subrace %}
		<tr>
			<th>
				Subrace
			</th>
			<td>{{ link(character.subrace, 'subrace') }}</td>
		</tr>
		{% endif %}
	</table>

	<details>
		<summary>Change race</summary>
		<form hx-put="{{ url_for('set_character_race', id=character.id) }}" hx-target="#section-race">
			<label for="race">Race</label>
			<select name="race" id="race" required>
				<option disabled{% if not character.race %} selected{% endif %} value="">Choose a race</option>
				{% for race in all_races %}
				<option value="{{ race.id }}"{% if race.id == character.race.id %} selected{% endif %}>{{ race.name }}</option>
				{% endfor %}
			</select>
			{% if subraces %}
			<label for="subrace">Subrace</label>
			<select name="subrace" id="subrace" required>
				<option disabled{% if not character.subrace %} selected{% endif %} value="">Choose a subrace</option>
				{% for subrace in subraces %}
				<option value="{{ subrace.id }}"{% if subrace.id == character.subrace.id %} selected{% endif %}>{{ subrace.name }}</option>
				{% endfor %}
			</select>
			{% endif %}
			<button type="submit">Confirm</button>
		</form>
	</details>
</section>
{%- endmacro %}

{% macro section_xp(character, levels) -%}
<section id="section-xp">
	{{ heading('Experience') }}

	<table>
		<tr>
			<th>XP</th>
			<td>{{ character.xp }}</td>
		</tr>
		<tr>
			<th>Level</th>
			<td>{{ character.level }}</td>
		</tr>
		<tr>
			<th>Proficiency bonus</th>
			<td>{{ format_modifier(character.proficiency_bonus) }}</td>
		</tr>
	</table>

	<p>
		{{ xp_bar(character, character.level, levels) }}
	</p>

	<details>
		<summary>Set XP</summary>
		<form hx-put="{{ url_for('set_xp', id=character.id) }}" hx-target="#section-xp">
			<input type="number" name="xp" id="xp" min="0" value="{{ character.xp }}" required>
			<button type="submit">Confirm</button>
		</form>
	</details>
</section>
{%- endmacro %}

{% macro section_alignment(character, moralities, societies) -%}
<section id="section-alignment">
	{{ heading('Alignment') }}

	<p>
		{{ link(character.alignment, 'alignment') }}
	</p>

	<details>
		<summary>Change alignment</summary>
		<form hx-put="{{ url_for('set_character_alignment', id=character.id) }}" hx-target="#section-alignment">
			<label for="society">Society</label>
			<select name="society" id="society" required>
				<option disabled{% if not	character.alignment.society %} selected{% endif %} value="">Choose an attitude towards society and order</option>
				{% for society in societies %}
				<option value="{{ society.id }}"{% if society.id == character.alignment.society.id %} selected{% endif %}>{{ society.name }}</option>
				{% endfor %}
			</select>
			<label for="morality">Morality</label>
			<select name="morality" id="morality" required>
				<option disabled{% if not	character.alignment.morality %} selected{% endif %} value="">Choose a moral identity</option>
				{% for morality in moralities %}
				<option value="{{ morality.id }}"{% if morality.id == character.alignment.morality.id %} selected{% endif %}>{{ morality.name }}</option>
				{% endfor %}
			</select>
			<button type="submit">Confirm</button>
		</form>
	</details>
</section>
{%- endmacro %}

{% macro section_abilities(abilities, id) -%}
<section id="section-abilities">
	{{ heading('Abilities') }}
	{# <p>Initiative: {{ format_modifier((abilities | selectattr("name", "equalto", "Dexterity") | first)["mod"]) }}</p> #}
	<table>
		<thead>
			<tr>
				<th>Ability</th>
				<th>Score</th>
				<th><abbr data-tooltip="Modifier">Mod</abbr></th>
			</tr>
		</thead>
		<tbody>
			{% for ability in abilities %}
			<tr>
				<td>
					{{ link(ability, 'ability') }}
				</td>
				<td>
					{{ ability.characterability.score }}
				</td>
				<td>
					{{ format_modifier(ability.mod) }}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<details>
		<summary>Set ability scores</summary>
		<form hx-put="{{ url_for('set_abilities', id=id) }}" hx-target="#section-abilities">
			{% for ability in abilities %}
			<label for="{{ ability.name }}">{{ ability.name }}</label>
			<input type="number" name="{{ ability.characterability.id }}" id="{{ ability.name }}" min="0" max="30" value="{{ ability.characterability.score }}" required>
			{% endfor %}
			<button type="submit">Confirm</button>
		</form>
	</details>
</section>
{%- endmacro %}

{% macro section_saves(abilities, id) -%}
<section hx-get="{{ url_for('section_saves', id=id) }}" hx-trigger="updateAbilities from:body, updateXP from:body, updateSaves from:body" hx-swap="outerHTML">
	{{ heading('Saving Throws') }}
	<table>
		<thead>
			<tr>
				<th>Ability</th>
				<th><abbr data-tooltip="Proficiency">Prof</abbr></th>
				<th><abbr data-tooltip="Modifier">Mod</abbr></th>
			</tr>
		</thead>
		<tbody>
			{% for ability in abilities %}
			<tr>
				<td>
					{{ link(ability, 'ability') }}
				</td>
				<td>
					{{ format_boolean(ability.proficient) }}
				</td>
				<td>
					{{ format_modifier(ability.save_mod) }}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<details>
		<summary>Set save proficiencies</summary>
		<form hx-put="{{ url_for('set_save_proficiencies', id=id) }}" hx-swap="none">
			<fieldset class="checkgrid">
				{% for ability in abilities %}
				<input type="checkbox" name="{{ ability.characterability.id }}" id="save-{{ ability.name }}"{% if ability.proficient %} checked{% endif %} class="right-align" />
				<label for="save-{{ ability.name }}">{{ ability.name }}</label>
				{% endfor %}
			</fieldset>
			<button type="submit">Confirm</button>
		</form>
	</details>
</section>
{%- endmacro %}

{% macro section_skills(skills, id) -%}
<section hx-get="{{ url_for('section_skills', id=id) }}" hx-trigger="updateAbilities from:body, updateSkills from:body, updateXP from:body">
	{{ heading('Skills') }}
	<table>
		<thead>
			<tr>
				<th><abbr data-tooltip="Proficiency">Prof</abbr></th>
				<th><abbr data-tooltip="Ability">Abil</abbr></th>
				<th>Skill</th>
				<th><abbr data-tooltip="Modifier">Mod</abbr></th>
			</tr>
		</thead>
		<tbody>
			{% for skill in skills %}
			<tr>
				<td>
					{% if skill.skillproficiency %}&#x25CF{% if skill.skillproficiency.skillexpertise %}&nbsp&#x25CF{% endif %}{% else %}&#x25CB{% endif %}
				</td>
				<td>
					<a href="{{ url_for('ability', id=skill.ability.id) }}">{{ skill.ability.short }}</a>
				</td>
				<td>
					{{ link(skill, 'skill') }}
				</td>
				<td>
					{{ format_modifier(skill.bonus) }}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<details>
		<summary>Set skill proficiencies</summary>
		<form hx-put="{{ url_for('set_skill_proficiencies', id=id) }}" hx-swap="none">
			<fieldset class="checkgrid">
				{% for skill in skills %}
				<input type="checkbox" name="{{ skill.id }}" id="prof-{{ skill.name }}"{% if skill.skillproficiency %} checked{% endif %} class="right-align" />
				<label for="prof-{{ skill.name }}">{{ skill.name }}</label>
				{% endfor %}
			</fieldset>
			<button type="submit">Confirm</button>
		</form>
	</details>
	<details>
		<summary>Set skill expertise</summary>
		<form hx-put="{{ url_for('set_skill_expertise', id=id) }}" hx-swap="none">
			<fieldset class="checkgrid">
				{% for skill in skills %}
				{% if skill.skillproficiency %}
				<input type="checkbox" name="{{ skill.skillproficiency.id }}" id="prof-{{ skill.name }}"{% if skill.skillproficiency.skillexpertise %} checked{% endif %} class="right-align" />
				<label for="prof-{{ skill.name }}">{{ skill.name }}</label>
				{% endif %}
				{% endfor %}
			</fieldset>
			<button type="submit">Confirm</button>
		</form>
	</details>
</section>
{%- endmacro %}
