{% extends "item.html.jinja2" %}
{% from "macros.html.jinja2" import spell_list %}

{% block content %}
<h1>{{ component.name }}</h1>

<article>
	{{ component.description }}
</article>

{{ spell_list(spells, "Spells using a " ~ component.name ~ " component") }}
{% endblock %}
