{% extends "item.html.jinja2" %}
{% from "macros.html.jinja2" import link %}

{% block content %}
<h1>{{ feat.name }}</h1>
<section>
	<h3>Prerequisites</h3>
	<table>
		<thead>
			<tr>
				<th>Ability</th>
				<th>Minimum score</th>
			</tr>
		</thead>
		<tbody>
			{% for prereq in prereqs %}
			<tr>
				<td>
					{{ link(prereq, 'ability') }}
				</td>
				<td>
					{{ prereq.score }}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</section>
<article>{{ feat.description }}</article>
{% endblock %}
