{% extends "base.html.jinja2" %}

{% block main %}
<h1>Draghi</h1>

<label for="search-bar">Search listings</label>
<input
 type="search"
 name="search"
 id="search-bar"
 placeholder="Start typing to search for a listing"
 min-length="3"
 hx-post="/search"
 hx-trigger="keyup changed delay:500ms, search"
 hx-target="#search-results"
 hx-indicator=".htmx-indicator"
>

<div class="htmx-indicator centre-image">
	<img class="spinner" src="{{ url_for('static', filename='ball-triangle.svg') }}"/>
</div>

<ul id="search-results" class="result-list">
</ul>

{% endblock %}
