{% extends "base.html.jinja2" %}
{% from "macros.html.jinja2" import list %}

{% block main %}
<h1>{{ titles[request.endpoint] }}</h1>
{% block content %}
{{ list(items, item) }}
{% endblock %}
{% endblock %}
