{% extends "base.html.jinja2" %}
{% set base = request.path.split('/')[:-1] | join('/') + "/" %}

{% block crumb %}
<li>/</li>
<li>
	<a href="{{ base }}">{{ crumb }}</a>
</li>
{% endblock %}

{% block main %}
{% block content %}
{% endblock %}
<hr>
<nav>
	{% if prev_item.id %}
	<a href="{{ base ~ prev_item.id }}">< {{ prev_item.name }}</a>
	{% else %}
	<span></span>
	{% endif %}
	{% if next_item.id %}
	<a href="{{ base ~ next_item.id }}">{{ next_item.name }} ></a>
	{% else %}
	<span></span>
	{% endif %}
</nav>
{% endblock %}
