{% extends "base.html.jinja2" %}

{% block main %}
<h1>Sign in</h1>
<form method="post">
	<label for="username">Player name</label>
	<input type="text" name="username" placeholder="Enter your player name" required {% if user_exists is defined %}aria-invalid="{% if user_exists %}false{% else %}true{% endif %}"{% endif %}{% if username %} value="{{ username }}"{% endif %}>
	<label for="password">Password</label>
	<input type="password" name="password" placeholder="Enter your password" autocomplete="current-password" required{% if pass_passed is defined %} aria-invalid="{% if not pass_passed %}true{% endif %}"{% endif %}>
	<button type="submit">Sign in</button>
</form>
{% endblock %}
