{% macro format_boolean(proficient) -%}
{% if proficient %}&#x25CF{% else %}&#x25CB{% endif %}
{%- endmacro %}

{% macro link(obj, page, pre="", post="") -%}
<a href="{{ url_for(page, id=obj.id) }}">{{ pre }}{{ obj.name }}{{ post }}</a>
{%- endmacro %}

{% macro list_character_classes(charactercclasses) -%}
{% for charactercclass in charactercclasses %}
<tr>
	<td>
		{{ link(charactercclass.cclass, 'cclass') }}
	</td>
	<td>
		{{ charactercclass.level }}
	</td>
	<td>
		{{ format_boolean(charactercclass.startingcclass) }}
	</td>
	<td>
		...
	</td>
</tr>
{% endfor %}
{%- endmacro %}

{% macro ordinal(n) -%}
{% if n == 1 %}
1st
{% elif n == 2 %}
2nd
{% elif n == 3 %}
3rd
{% else %}
{{ n }}th
{% endif %}
{%- endmacro %}

{% macro simple_spell_list(spells) -%}
<ul>
	{% for spell in spells %}
	<li>
		{{ link(spell, 'spell') }}
	</li>
	{% endfor %}
</ul>
{%- endmacro %}

{% macro spell_list(spells, title="Spell List") -%}
{% if spells %}
<section>
	<h3>{{ title }}</h3>
	{% for spell_tier in spells %}
	{% if spell_tier.spells %}
	<h4>{{ spell_tier.name }}{% if spell_tier.level != 0 %} Level{% endif %}</h4>
	{{ simple_spell_list(spell_tier.spells) }}
	{% endif %}
	{% endfor %}
</section>
{% endif %}
{%- endmacro %}

{% macro format_modifier(number) %}
{% if number == 0 -%}
—
{%- else -%}
{% if number > 0 %}+{% endif %}{{ number }}
{%- endif %}
{%- endmacro %}

{% macro passive_table(passive) -%}
{% for sense in passive %}
<tr>
	<td>{{ format_boolean(sense.proficient) }}</td>
	<td><a href="{{ url_for('ability', id=sense.ability.id) }}">{{ sense.ability.short }}</td>
	<td>{{ link(sense, 'skill') }}</td>
	<td>{{ sense.score }}</td>
</tr>
{% endfor %}
{%- endmacro %}

{% macro choose_class(available_classes) -%}
<option disabled selected value="">Choose a class</option>
{% for class in available_classes %}
<option value="{{ class.id }}">{{ class.name }}</option>
{% endfor %}
{%- endmacro %}

{% macro delete_class(my_classes) -%}
<option disabled selected value="">Choose a class</option>
{% for my_class in my_classes %}
<option value="{{ my_class.id }}">{{ my_class.cclass.name }}</option>
{% endfor %}
{%- endmacro %}

{% macro condition_list(my_conditions) -%}
{% for condition in my_conditions %}
<li>
	{{ link(condition, 'condition') }}
</li>
{% endfor %}
{%- endmacro %}

{% macro show_traits(trait_list) -%}
{% if trait_list %}
<section>
	<h3>Traits</h3>
	{% for trait in trait_list %}
	<details>
		<summary>{{ trait.name }}</summary>
		<p>{{ trait.description }}</p>
		<a href="{{ url_for('trait', id=trait.id) }}">
			<button class="outline">View listing</button>
		</a>
	</details>
	{% endfor %}
</section>
{% endif %}
{%- endmacro %}

{% macro change_password(old_pass, old_passed, new_passed) -%}
<label for="password">Current password</label>
<input type="password" name="old_password" placeholder="Enter your password" autocomplete="current-password" required {% if old_passed is defined %}aria-invalid="{% if old_passed %}false{% else %}true{% endif %}"{% endif %} {% if old_passed and not new_passed %}value="{{ old_pass }}"{% endif %}>
<label for="password">New password</label>
<input type="password" name="new_password" minlength="8" placeholder="Enter a password of at least 8 characters" autocomplete="new-password" required {% if new_passed is defined %}aria-invalid="{% if new_passed %}false{% else %}true{% endif %}"{% endif %}>
<button type="submit">Confirm</button>
{%- endmacro %}

{% macro list(items, type, extra="") -%}
<ul>
	{% for item in items %}
	<li>
		{{ link(item, type, post=extra) }}
	</li>
	{% endfor %}
</ul>
{%- endmacro %}

{% macro heading(title) -%}
{% with slug = title | lower | replace(' ', '-') | urlencode %}
<h3 id="heading-{{ slug }}"><a href="#heading-{{ slug }}" class="anchor">{{ title }}</a></h3>
{% endwith %}
{%- endmacro %}

{% macro format_money(amount) -%}
{% if amount // 100 > 1 %}
{{ amount // 100 }} gp
{% elif amount // 10 > 1%}
{{ amount // 10 }} sp
{% else %}
{{ amount }} cp
{% endif %}
{%- endmacro %}

{% macro format_float(number) -%}
{% if number % 1 == 0 %}
	{{ number | int }}
{% else %}
	{% if number < 1 %}
		{% if number % 1 == 0.1 %}
		⅒
		{% elif number % 1 == 0.2 %}
		⅕
		{% elif number % 1 == 0.25 %}
		¼
		{% elif number % 1 == 0.4 %}
		⅖
		{% elif number % 1 == 0.5 %}
		½
		{% elif number % 1 == 0.6 %}
		⅗
		{% elif number % 1 == 0.75 %}
		¾
		{% elif number % 1 == 0.8 %}
		⅘
		{% else %}
		{{ number }}
		{% endif %}
	{% elif number % 1 == 0.5 %}
	{{ number | int }} ½
	{% else %}
		{{ number }}
	{% endif %}
{% endif %}
{%- endmacro %}
