{% extends "item.html.jinja2" %}
{% from "macros.html.jinja2" import link %}

{% block content %}
<h1>{{ magic_item.name }}</h1>

<table>
	<tr>
		<td>Category</td>
		{# <td><a href="{{ url_for('equipment_category', id=magic_item.category.id) }}">{{ magic_item.category.name }}</a></td> #}
		<td>{{ magic_item.category }}</td>
	</tr>
	<tr>
		<td>Rarity</td>
		<td>{{ link(magic_item.rarity, 'rarity') }}</td>
	</tr>
</table>

{% if magic_item.attunement %}
<p><em>Requires attunement</em></p>
{% endif %}

<article>
	{{ magic_item.description }}
</article>
{% endblock %}
