{% extends "item.html.jinja2" %}
{% from "macros.html.jinja2" import link, format_float %}

{% block content %}
<h1>{{ monster.name }}</h1>

<table>
	<tr>
		<td>Type</td>
		<td>
			{{ link(monster.type, 'monster_type') }}
		</td>
	</tr>
	<tr>
		<td>Size</td>
		<td>
			{{ link(monster.size, 'size') }}
		</td>
	</tr>
	<tr>
		<td>Armour Class</td>
		<td>{{ monster.ac }}</td>
	</tr>
	<tr>
		<td>Challenge Rating</td>
		<td>{{ format_float(monster.cr) }}</td>
	</tr>
	<tr>
		<td>XP</td>
		<td>{{ '{:,d}'.format(monster.xp) }}</td>
	</tr>
</table>

<table>
	<thead>
		<tr>
			<th>Ability</th>
			<th>Score</th>
		</tr>
	</thead>
	<tbody>
		{% for ability in abilities %}
		<tr>
			<td>
				{{ link(ability.ability, 'ability') }}
			</td>
			<td>
				{{ ability.score }}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% if monster.description %}
<article>
	{{ monster.description }}
</article>
{% endif %}
{% endblock %}
