{% extends "base.html.jinja2" %}
{% from "macros.html.jinja2" import change_password %}

{% block main %}
<h1>{{ current_user.name }}</h1>

<section>
	<label for="bio"><h3>About me</h3></label>
	<form hx-put="{{ url_for('set_bio') }}" hx-swap="none">
		<textarea name="bio" id="bio" placeholder="Say whatever you want to say here" required>
			{{- current_user.bio -}}
		</textarea>
		<button type="submit">Save</button>
	</form>
</section>

<section>
	<h3>Change password</h3>
	<form hx-post="/change_password">
		{{ change_password(old_pass, old_passed, new_passed) }}
	</form>
</section>

<section>
	<h3>Delete account</h3>
	<form hx-delete="{{ url_for('delete_account', id=current_user.id) }}" hx-confirm="Are you sure you wish to delete account {{ current_user.name }}?">
		<fieldset>
			{# <input type="checkbox" role="switch" name="recursive" id="recursive"> #}
			{# <label for="recursive">Delete all your creations too?</label> #}
		</fieldset>
		<button type="submit">Delete account</button>
	</form>
</section>
{% endblock %}
