{% extends "item.html.jinja2" %}
{% from "macros.html.jinja2" import list %}

{% block content %}
<h1>{{ player.name }}</h1>

<section>
	<table>
		<tr>
			<th>
				Been here for
			</th>
			<td>
				{{ member_time }}s
			</td>
		</tr>
	</table>
</section>

{% if player.bio %}
<article>
	{{ player.bio }}
</article>
{% endif %}

{% if campaigns %}
<section>
	<h3>My campaigns ({{ campaigns | length }})</h3>
	{{ list(campaigns, 'campaign') }}
</section>
{% endif %}

{% if characters %}
<section>
	<h3>My characters ({{ characters | length }})</h3>
	{{ list(characters, 'quick_character') }}
</section>
{% endif %}
{% endblock %}
