{% extends "base.html.jinja2" %}
{% from "macros.html.jinja2" import format_modifier %}
{% from "character_macros.html.jinja2" import hp_bar %}

{% block crumb %}
<li>/</li>
<li>
	<a href="{{ url_for('characters') }}">Characters</a>
</li>
{% endblock %}

{% block main %}

<h1>{{ character.name }}</h1>

{% if current_user.id in players %}
<section>
	<a href="{{ url_for('character', id=character.id) }}">
		<button>Edit character</button>
	</a>
</section>
{% endif %}

<section>
	<p>HP: {{ character.hp }}{% if character.tmp_hp %} (+{{ character.tmp_hp }}){% endif %} / {{ character.max_hp }}</p>
	{{ hp_bar(character) }}
</section>

<section>
	<details>
		<summary>Abilities</summary>
		<div class="cards">
			{% for ability in abilities %}
			<article class="card">
				<header>{{ ability.short }}</header>
				<main class="big">
					{{ format_modifier(ability.mod) }}
				</main>
				<footer>{{ ability.characterability.score }}</footer>
			</article>
			{% endfor %}
		</div>
	</details>
</section>

<section>
	<details>
		<summary>Saving Throws</summary>
		<div class="cards">
			{% for ability in abilities %}
			<article class="card{% if ability.proficient %} prof{% endif %}">
				<header>{{ ability.short }}</header>
				<main class="big">
					{{ format_modifier(ability.save_mod) }}
				</main>
				<footer>{{ ability.characterability.score }}</footer>
			</article>
			{% endfor %}
		</div>
	</details>
</section>

{% endblock %}
