{% extends "item.html.jinja2" %}
{% from "macros.html.jinja2" import show_traits, list %}

{% block content %}
<h1>{{ race.name }}</h1>

<section>
	<table>
		<tr>
			<th>
				Size
			</th>
			<td>
				{{ race.size.name }}
			</td>
		</tr>
		<tr>
			<th>
				Walking speed
			</th>
			<td>
				{{ race.speed }} ft
			</td>
		</tr>
	</table>
</section>

<section>
	<dl>
		<dt>Age</dt>
		<dd>
		<p>{{ race.age_desc }}</p>
		</dd>
		<dt>Alignment</dt>
		<dd>
		<p>{{ race.alignment_desc }}</p>
		</dd>
		<dt>Size</dt>
		<dd>
		<p>{{ race.size_desc }}</p>
		</dd>
		<dt>Language</dt>
		<dd>
		<p>{{ race.language_desc }}</p>
		</dd>
	</dl>
</section>

{% if subraces %}
<section>
	<h3>Subraces</h3>
	{{ list(subraces, 'subrace') }}
</section>
{% endif %}

{{ show_traits(traits) }}
{% endblock %}
