{% extends "item.html.jinja2" %}
{% from "macros.html.jinja2" import spell_list %}

{% block content %}
<h1>{{ school.name }}</h1>

<article>{{ school.description }}</article>

{{ spell_list(spells) }}
{% endblock %}
