{% extends "base.html.jinja2" %}

{% block scripts %}
<script defer src="{{url_for('static', filename='theme.js') }}"></script>
{% endblock %}

{% block main %}
<h1>Settings</h1>

<fieldset>
	<legend>Theme</legend>
	<label for="theme-auto">
		<input type="radio" name="theme" value="auto" id="theme-auto" checked>
		Auto
	</label>
	<label for="theme-light">
		<input type="radio" name="theme" value="light" id="theme-light">
		Light
	</label>
	<label for="theme-dark">
		<input type="radio" name="theme" value="dark" id="theme-dark">
		Dark
	</label>
</fieldset>
{% endblock %}
