{% extends "base.html.jinja2" %}

{% block main %}
<h1>Sign up</h1>
<form method="post">
	<label for="username">Player name</label>
	<input type="text" name="name" placeholder="Enter a player name" required {% if user_exists is defined %}aria-invalid="{% if user_exists %}true{% else %}false{% endif %}"{% endif %} {% if name and not user_exists %}value="{{ name }}"{% endif %}>
	<label for="password">Password</label>
	<input type="password" name="password" minlength="8" placeholder="Enter a password of at least 8 characters" autocomplete="new-password" required {% if pass_passed is defined %}aria-invalid="{% if pass_passed %}false{% else %}true{% endif %}"{% endif %} {% if password and pass_passed %}value="{{ password }}"{% endif %}>
	<button type="submit">Sign up</button>
</form>
{% endblock %}
