{% extends "item.html.jinja2" %}
{% from "macros.html.jinja2" import format_float %}

{% block content %}
<h1>{{ size.name }}</h1>

<section>
	<table>
		<tr>
			<td>Reach</td>
			<td>
				{{ format_float(size.reach) }} ft<sup>2</sup>
			</td>
		</tr>
	</table>
</section>

{% endblock %}
