{% extends "item.html.jinja2" %}
{% from "macros.html.jinja2" import link %}

{% block content %}
<h1>{{ skill.name }}</h1>

<p>Associated with {{ link(skill.ability, 'ability') }}.</p>

<article>
	{{ skill.description }}
</article>
{% endblock %}
