{% extends "item.html.jinja2" %}
{% from "macros.html.jinja2" import spell_list %}

{% block content %}
<h1>{{ spell_shape.name }}</h1>

<article>
	{{ spell_shape.description }}
</article>

{{ spell_list(spells, "Spells with " ~ spell_shape.name ~ " shape") }}
{% endblock %}
