{% extends "items.html.jinja2" %}

{% block content %}
<ul>
	{% for spell_level in spell_levels %}
	<li>
		<a href="{{ url_for('spell_level', id=spell_level.id) }}">
			{{ spell_level.name }}{% if spell_level.level != 0 %} Level{% endif %}
		</a>
	</li>
	{% endfor %}
</ul>
{% endblock %}
