{% extends "item.html.jinja2" %}
{% from "macros.html.jinja2" import simple_spell_list %}

{% block content %}
<h1>{{ spell_level.name }}{% if spell_level.level != 0 %}-level Spell{% endif %}s</h1>

{{ simple_spell_list(spells) }}
{% endblock %}
