{% extends "item.html.jinja2" %}
{% from "macros.html.jinja2" import list, link %}

{% block content %}
<h1>{{ spell.name }}</h1>

<section>
	<table>
		<tr>
			<th>School</th>
			<td>
				{{ link(spell.school, 'magic_school') }}
			</td>
		</tr>
		<tr>
			<th>Level</th>
			<td>
				{{ link(spell.level, 'spell_level') }}
			</td>
		</tr>
		<tr>
			<th>Casting time</th>
			<td>{{ spell.casting_time }}</td>
		</tr>
		<tr>
			<th>Range</th>
			<td>{{ spell.range }}</td>
		</tr>
		{% if spell.area %}
		<tr>
			<th>Area of Effect Size</th>
			<td>{{ spell.area }} ft</td>
		</tr>
		<tr>
			<th>Area of Effect Shape</th>
			<td>
				<a href="{{ url_for('spell_shape', id=spell.shape_id) }}">{{ spell.shape }}</a>
			</td>
		</tr>
		{% endif %}
		<tr>
			<th>Components</th>
			<td>
				{% for c in components %}
				<a href="{{ url_for('spell_component', id=c.id) }}">{{ c.short }}</a>{% if not loop.last %},{% endif %}
				{% endfor %}
				{% if material %}
				<em>({{ material[0].material }})</em>
				{% endif %}
			</td>
		</tr>
		<tr>
			<th>Duration</th>
			<td>{{ spell.duration }}{% if spell.concentration %} <em>(concentration)</em>{% endif %}</td>
		</tr>
		{% if spell.attack_type %}
		<tr>
			<th>Attack Type</th>
			<td>
				<a href="{{ url_for('attack_type', id=spell.attack_type_id) }}">{{ spell.attack_type }}</a>
			</td>
		</tr>
		{% endif %}
		{% if spell.damage_type %}
		<tr>
			<th>Damage Type</th>
			<td>
				<a href="{{ url_for('damage_type', id=spell.damage_type_id) }}">{{ spell.damage_type }}</a>
			</td>
		</tr>
		{% endif %}
		{% if spell.save %}
		<tr>
			<th>Saving Throw</th>
			<td>
				<a href="{{ url_for('ability', id=spell.save_id) }}">{{ spell.save }}</a>
			</td>
		</tr>
		{% endif %}
	</table>

	{% if spell.ritual %}
	<p><em>Can be cast as a Ritual</em></p>
	{% endif %}
</section>

<article>
	{{ spell.description }}
</article>

<section>
	<h3>Classes</h3>
	{{ list(cclasses, 'cclass') }}
</section>
{% endblock %}
