{% extends "item.html.jinja2" %}
{% from "macros.html.jinja2" import link %}

{% block content %}
<hgroup>
<h1>{{ subcclass.name }}</h1>
<p>{{ subcclass.cclass.subclass_flavour }}</p>
</hgroup>

<table>
	<tr>
		<th>Class</th>
		<td>
			{{ link(subcclass.cclass, 'cclass') }}
		</td>
	</tr>
</table>

<article>{{ subcclass.description }}</article>

{% if features %}
<section>
	<h3>Subclass Features</h3>
	{% for feature in features %}
	<details>
		<summary>{{ feature.name }} ({{ feature.level }})</summary>
		{{ feature.description }}
	</details>
	{% endfor %}
</section>
{% endif %}

{% if subfeatures %}
<section>
	<h3>Subclass Subfeatures</h3>
	{% for feature in subfeatures %}
	<details>
		<summary>{{ feature.name }}</summary>
		{{ feature.description }}
	</details>
	{% endfor %}
</section>
{% endif %}

{% endblock %}
