{% extends "item.html.jinja2" %}
{% from "macros.html.jinja2" import show_traits, link %}

{% block content %}
<h1>{{ subrace.name }}</h1>

<section>
	<table>
		<tr>
			<th>
				Race
			</th>
			<td>
				{{ link(subrace.race, 'race') }}
			</td>
		</tr>
	</table>
</section>

<article>
	{{ subrace.description }}
</article>

{{ show_traits(traits) }}
{% endblock %}
