{% extends "item.html.jinja2" %}
{% from "macros.html.jinja2" import link, format_money %}

{% block content %}
<h1>{{ tool.name }}</h1>

<section>
	<table>
		<tr>
			<td>Category</td>
			<td>
				{{ link(tool.category, 'tool_category') }}
			</td>
		</tr>
		<tr>
			<td>Weight</td>
			<td>{{ tool.weight }} lb</td>
		</tr>
		<tr>
			<td>Cost</td>
			<td>{{ format_money(tool.cost) }}</td>
		</tr>
	</table>
</section>

<article>
	{{ tool.description }}
</article>
{% endblock %}
