{% extends "item.html.jinja2" %}
{% from "macros.html.jinja2" import link, format_money %}

{% block content %}
<h1>{{ weapon.name }}</h1>

<section>
	<table>
		<tr>
			<th>Weapon Class</th>
			<td>{{ weapon.level }}</td>
		</tr>
		<tr>
			<th>Attack Type</th>
			<td>{{ link(weapon.attack_type, 'attack_type', post=" Weapon") }}</td>
		</tr>
		<tr>
			<th>Rarity</th>
			<td>{{ link(weapon.rarity, 'rarity') }}</td>
		</tr>
		<tr>
			<th>Damage</th>
			<td>{% if weapon.damage %}{{ weapon.damage }}{% else %}—{% endif %}</td>
		</tr>
		<tr>
			<th>Damage Type</th>
			<td>{{ link(weapon.damage_type, 'damage_type') }}</td>
		</tr>
		<tr>
			<tr>
				<th>Weight</th>
				<td>{{ weapon.weight }} lb</td>
			</tr>
			<tr>
				<th>Cost</th>
				<td>{{ format_money(weapon.cost) }}</td>
			</tr>
	</table>
</section>

{% if special %}
<article>
	<header><strong>Special</strong></header>
	{{ special }}
</article>
{% endif %}

<section>
	<h3>Properties</h3>
	{% for prop in properties %}
	<details>
		<summary>
			{{ prop.name }}{% if prop.damage %} ({{ prop.damage }}){% endif %}{% if prop.min %} ({{ prop.min }}–{{ prop.max }} ft){% endif %}
		</summary>
		{{ prop.description }}
	</details>
	{% endfor %}
</section>
{% endblock %}
