<script>
  import { invalidateAll } from "$app/navigation";
  import { applyAction } from "$app/forms";

  export let data;

  const quick = ["PRO", "WAL", "INI", "AC"];
  const senses = ["PER", "INV", "INS"];

  async function put({ target }, table, column, id) {
    const response = await fetch("/api", {
      method: "PUT",
      body: JSON.stringify({
        tab: table,
        col: column,
        id: id,
        val: target.value,
      }),
      headers: {
        "content-type": "application/json",
      },
    });

    target.value = await response.json();
  }

  // not sold on this method, but serves to illustrate frontend
  async function handleSubmit({ target }) {
    const data = Object.fromEntries(new FormData(this));

    const response = await fetch(this.action, {
      method: "POST",
      body: JSON.stringify(data),
      headers: {
        "content-type": "application/json",
      },
    });

    const result = await response.json();

    if (result.type === "success") {
      // rerun load
      await invalidateAll();
    }

    // clear form fields
    applyAction(result);

    target.parentNode.close();
  }

  function showDialog(targetID) {
    document.getElementById(targetID).showModal();
  }
</script>

<h1>Segrete</h1>

<svelte:head>
  <meta name="color-scheme" content="dark light" />
  <title>Segrete</title>
</svelte:head>

<main>
  <fieldset>
    <legend>BAS</legend>
    <input type="text" bind:value={data.name} />
    <input type="text" value="High Elf" />
    <div>
      <input type="text" value="Barbarian" />
      <input type="number" value="2" />
    </div>
    <div>Level 2</div>
  </fieldset>
  <fieldset>
    <legend>XP</legend>
    <div>346</div>
  </fieldset>
  <fieldset>
    <legend>HP</legend>
    <div>23/23+3</div>
  </fieldset>
  <fieldset>
    <legend>QUI</legend>
    {#each quick as x}
      <article>
        <div>{x}</div>
        <div>1</div>
      </article>
    {/each}
  </fieldset>
  <fieldset>
    <legend>Conditions</legend>
    <div>Charmed</div>
  </fieldset>
  <fieldset>
    <legend>ABI</legend>
    {#each data.ability as x}
      <article>
        <label for="ability-{x.name}">{x.name}</label>
        <input
          type="number"
          id="ability-{x.name}"
          bind:value={x.score}
          on:change={(e) => put(e, "ability", "score", parseInt(x.id))}
        />
        <div>{Math.min(10, Math.floor(x.score / 2) - 5)}</div>
      </article>
    {/each}
  </fieldset>
  <fieldset>
    <legend>SAV</legend>
    {#each data.ability as x}
      <article>
        <div>{x.name}</div>
        <div>{Math.min(10, Math.floor(x.score / 2) - 5)}</div>
      </article>
    {/each}
  </fieldset>
  <fieldset>
    <legend>SEN</legend>
    {#each senses as x}
      <article>
        <div>{x}</div>
        <div>1</div>
      </article>
    {/each}
  </fieldset>
  <fieldset>
    <legend>SKI</legend>
    {#each data.skills as x}
      <div>
        <span>{x}</span>
        <span>1</span>
      </div>
    {/each}
  </fieldset>
  <fieldset>
    <legend>Class Features</legend>
    <dl>
      <dt>Strong</dt>
      <dd>Arms</dd>
    </dl>
  </fieldset>
  <fieldset>
    <legend>Racial Traits</legend>
    <dl>
      <dt>Fast</dt>
      <dd>Legs</dd>
    </dl>
  </fieldset>
  <fieldset>
    <legend>Feats</legend>
    <div>
      <dl>
        {#each data.feats as f}
          <dt>{f.name}</dt>
          <dd>{f.desc}</dd>
        {/each}
      </dl>

      <button on:click={() => showDialog("featDialog")}>Add</button>

      <dialog id="featDialog">
        <form
          id="featForm"
          method="POST"
          action="/api"
          on:submit|preventDefault={handleSubmit}
          class="col"
        >
          <label for="feat-name"> Title </label>
          <input type="text" id="feat-name" name="name" />

          <label for="feat-desc"> Description </label>
          <textarea type="text" id="feat-desc" name="desc" />
        </form>
        <div class="row">
          <form method="dialog">
            <button>Cancel</button>
          </form>
          <button form="featForm">Confirm</button>
        </div>
      </dialog>
    </div>
  </fieldset>
</main>

<style>
  .row {
    display: flex;
  }

  .col {
    display: flex;
    flex-direction: column;
  }

  fieldset {
    display: flex;
    flex-wrap: wrap;
    gap: 1ex;
    border-radius: 4px;
  }

  dl {
    margin: 0;
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin: 0;
  }

  input[type="number"] {
    width: 6ex;
  }

  input[type="text"] {
    width: 6em;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }

  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2pt;
  }
</style>
