.centre {
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.small-number {
  display: inline-block;
  min-width: 2em;
  text-align: center;
}

.wrapper {
  overflow-x: auto;
}

.icon {
  max-width: 2em;
  max-height: 2em;
}

button {
  min-width: 22.5px;
}

input {
  border-radius: 4px;
  border: 1px solid #b1b1b1;
  height: 19px;
}

body {
  margin: 0;
}

table {
  border-spacing: 1ex;
  margin: 0 auto;
}

th {
  text-align: left;
  white-space: nowrap;
}

td {
  white-space: nowrap;
}
