<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />

  <title>Title</title>
  <meta name="author" content="Author">
  <meta name="description" content="Description">

  <!-- <link rel="stylesheet" href="style.css"> -->
</head>

<body>
  <h1>{{ header }}</h1>

  <p>Text</p>

  <!-- <script src="script.js"></script> -->
</body>

</html>

